.btn {
  background: rgb(2, 15, 33);
  border: none;
  color: rgb(215, 218, 222);
}

.h3 {
  font-size: 20px;
}

.btn:hover {
  background: rgb(65, 54, 25);
}

.nav-link {
  font-weight: 500;
  font-size: 15px;
}

p {
  font-size: 16px;
}

.navbar-nav {
  z-index: 10000;
}

.logo {
  z-index: 1;
}

.hero {
  background-image: url('./assets/close-up-beautiful-african-woman-enjoying-massage-spa-salon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  padding-top: 15rem;
}

.hero p {
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .cards img {
    width: 100%;
    margin: 0;
  }
}

i {
  color: rgb(44, 44, 45);
  font-size: 25px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

a:first-child i:hover {
  color: rgb(212, 140, 7);
}

a:nth-child(2) i:hover {
  color: rgb(76, 180, 76);
}

a:nth-child(3) i:hover {
  color: rgb(24, 61, 134);
}

a:last-child i:hover {
  color: black;
}

.gallery-container {
  margin-top: 60px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 40px;
}

.gallery a {
  margin-inline: 10px;
  margin-bottom: 10px;
}

.gallery img {
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
